<%-include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/pomodoro.css">
<%-include('../includes/navigation.ejs')%>


<h1><%=article.name%></h1>


<!-- POMODORO TECHNIQUE -->
<p><%=article.article%></p>


<%-include('includes/pomodoro.ejs')%>


<%-include('../includes/end.ejs')%>
